# Saídas geradas e Modelos
output/
_tmp_*/

# Ficheiros de diagnóstico e relatório gerados
env_check.txt
arvore_de_diretorios.txt
report.txt

# Dados
data/
output/
*.pickle

# Python
__pycache__/
*.py[cod]
*.egg-info/
dist/
build/

# Ambientes Virtuais
.env
.venv
env/
venv/

# Jupyter Notebook
.ipynb_checkpoints/

# Arquivos de IDE/Editor
.idea/